<a href="https://colab.research.google.com/github/GabeMaldonado/UoL_Study_Materials/blob/main/Statistics%26StatisticalMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notes on Statistics and Statistical Mining. DSM030
University of London, Goldsmiths


## Descriptive Statistics and Inferential Statistics

* **Descriptive Statistics** is the branch of statistics that deals with the collection, summary, presentation and analysis of data in order to transform data into information which can be easily understood and interpreted

* **Inferential Statistics** is the branch of statistics that involves using data from a sample to make claims, predictions, estimates and test hypotheses about the characteristics of a population. 

## Population and Sample

* **Population** is the set of all possible individuals, or elements, of interest in a particular study.

* **Sample** is a subset, or portion, of the population that is representative of the population from which it was selected.

* A specific characteristic of a population is called a parameter
* A parameter is a fixed population
* A specific characteristic of a sample is called a statistic
* A sample statistic varies from sample to sample

For example:

* Population: all the sutdents at a university
* Variable of interest: age
* Parameter: the average age of all students at the university
* Statistics: the average age of sample students at the university

## Scales of Measurement

* A variable has one of four scales or levels of data measurement:
   * nominal
   * ordinal
   * interval
   * ration

* The level of measurement determines the amount of information the data contains and is an indicator of the most suitable data summary and statistical analysis. 

### Nominal Scale
* In the nominal scale of measurement, arbitrary labels or names are used to identify a characteristics of the individual. For instance, we have data of how people commute: walk, drive, train, bust, etc. The scale here is nominal beacause labels are used to identify how people go to work. Even if the labels are numeric, there is no order or ranking to it. 

### Ordinal Scale
* In this scale of measurement, the data shows all the properties of nominal data and there is an **order or rank** among the variable's observations.

* When numeric codes are used, there is no measurable meaning to the number differences. For instance, variables could be eduation level, from elementary to doctorate level of education. Here the levels can be ranked.

### Interval Scale

* Interval scales are numeric scales in which data exhibits the properties of ordinal scale and the differences between the values is meaningful and specified on a fixed unit of measure. For instance, SATs test scores are interval data which can be ranked. 

* Interval scale has no true zero point, which means that zero does not mean the of value but simply indicates another value on the scale. 

### Ratio Scale

* Ratio scale exhibits all the properties of interval data and the ration of any two values is meaningful. This scale also has a true zero point, that is, when the variable equals 0.0-, there is none of that variable. 
* Other examples of variables which used teh ration scale of measurement are weight, height and time.

### Types of Data

* Data can be classified as either categorical or numerical
* Categorical data (also known as Qualitative data) uses names or labels to identify the characteristics of an individual
* categorical data uses either the nominal or ordinal scales of measurement and maybe non-numeric or numeric in nature. 

* Numerical data (also known as quantitative data) have numeric values which indicate how much or how many of a quantity
* Numeric data use either the interval or ratio scales of measurement

### Categorical variables

* Refers to a variable with categorical data such as ethnicity, types of cars, marital status, etc.

### Quantitative variables
* Refers to a variable with numeric values. For instance, height, weight, number/count of an item, temperature, etc.
* Quantitative variables can be discrete or continuous

### Statistical Analysis Suitable for Categorical Variables

* For categorical variable, data maybe summarized by counting the number of observations in each category or by evaluating the proportion of the observations in each category

* The might be cases where numerical data is used for categorical data and arithmetic operations provide no meaningful results. 

### Statistical Analysis Suitable for Quantitative Variables
* Arithmetic operations provide meaningful results for quantitative variables. For example-- for a variable age we can compute the average by adding all the obeservations and dividing by the number of observations.
* The average value usually provides meaningful information about the variable and it is easy to interpret. 

### Frequency Distribution

* Frequency distribution is a way of summarizing data in a table which shows the possible categories or classes as well as the corresponding number of observations/frequency in each category
* The category or classes in a frequency distribution are nonoverlapping
* Frequency distribution can be used to summarize both quantitative and qualitative data.

### Measures of Location
*  Percentiles
   *  The *pth* percentile is a value which divides the data into two parts such that at least *p* percent of the observations are less than or equal to this value and at least $(100 - p)$ percent of the obeservations are greater than or equal to this value. In the equation *p* denotes the percentile of interest and *n* denotes the number of observations. If the result of the calculation is not an integer then we must round up to obtain the position of the *pth* percentile. If the result of the calcualtion is an integer then the percentile is the average of the corresponding value and its next value in the data.

   *  For instance, for the following data (10, 20, 25, 15, 11, 13, 16, 8, 9, 8, 7, 6)-- the *pth* (75th) percentile is calculated this way:
      1. Sort data in ascending order: (6, 7, 8, 8, 9, 10, 11, 13, 15, 16, 20, 25)

      2. Compute the position of the *pth* percentile by doing: $\frac{p}{100} * n$. We have 12 data points so $n=12$

           $(\frac{75}{100}) * 12 = 9$
           
        So the 75th percentile is the average of the 9th and 10th elements in the data. 
        $(15 + 16)/2 = 15.5$
        Now calculate the 60th percentile:

        $(\frac{60}{100})*12 = 7.2$

        Hence the 60th percentile is the 8th observation which is 13.



   
*  Quartiles
   *  Divide the ranked data into four parts with each part containing approximately 25%of the data.
   *  The lower, firt, quartile *Q1* is also the *25th* percentile
   *  The second quartile *Q2* is also the *50th* percentile. It is the median.
   *  The upper quartile *Q3* is also the 75th percentile. 



### Measures of Variation

*  Range
  * The simplest measure of variability.
  * It is defined as the difference between the largets and the smallest value in a dataset.  

*  Interquantile Range (IQR)
  * IQR is the measure of spread which can helps us eliminate outliers.
  * It calculates the range of the middle 50% of the data. 
  $IQR = Q3 - Q1$

In [1]:
import pandas as pd

In [5]:
bulbs = pd.DataFrame([2090, 1900, 2010, 1890, 2010, 1968, 70, 2200, 2012, 1960])

In [7]:
bulbs.describe()

                 0
count    10.000000
mean   1811.000000
std     618.318329
min      70.000000
25%    1915.000000
50%    1989.000000
75%    2011.500000
max    2200.000000

In [2]:
nums = pd.DataFrame([20,7,2,30,5,24,7,50])
nums.describe()

               0
count   8.000000
mean   18.125000
std    16.365796
min     2.000000
25%     6.500000
50%    13.500000
75%    25.500000
max    50.000000

In [4]:
nums.quantile([.25, .75])

         0
0.25   6.5
0.75  25.5

In [5]:
nums_1 = pd.DataFrame([12, 16, 20, 25, 26, 28, 33, 35, 36, 41, 44, 49, 53, 56, 61, 63, 67, 70, 75, 77])
nums_1.describe()

               0
count  20.000000
mean   44.350000
std    20.199726
min    12.000000
25%    27.500000
50%    42.500000
75%    61.500000
max    77.000000

In [7]:
nums.quantile([.10, .25, .33, .50, .75, .90])

         0
0.10   4.1
0.25   6.5
0.33   7.0
0.50  13.5
0.75  25.5
0.90  36.0