<a href="https://colab.research.google.com/github/GabeMaldonado/UoL_Study_Materials/blob/main/Statistics%26StatisticalMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notes on Statistics and Statistical Mining. DSM030
University of London, Goldsmiths


## Descriptive Statistics and Inferential Statistics

* **Descriptive Statistics** is the branch of statistics that deals with the collection, summary, presentation and analysis of data in order to transform data into information which can be easily understood and interpreted

* **Inferential Statistics** is the branch of statistics that involves using data from a sample to make claims, predictions, estimates and test hypotheses about the characteristics of a population. 

## Population and Sample

* **Population** is the set of all possible individuals, or elements, of interest in a particular study.

* **Sample** is a subset, or portion, of the population that is representative of the population from which it was selected.

* A specific characteristic of a population is called a parameter
* A parameter is a fixed population
* A specific characteristic of a sample is called a statistic
* A sample statistic varies from sample to sample

For example:

* Population: all the sutdents at a university
* Variable of interest: age
* Parameter: the average age of all students at the university
* Statistics: the average age of sample students at the university

## Scales of Measurement

* A variable has one of four scales or levels of data measurement:
   * nominal
   * ordinal
   * interval
   * ration

* The level of measurement determines the amount of information the data contains and is an indicator of the most suitable data summary and statistical analysis. 

### Nominal Scale
* In the nominal scale of measurement, arbitrary labels or names are used to identify a characteristics of the individual. For instance, we have data of how people commute: walk, drive, train, bust, etc. The scale here is nominal beacause labels are used to identify how people go to work. Even if the labels are numeric, there is no order or ranking to it. 

### Ordinal Scale
* In this scale of measurement, the data shows all the properties of nominal data and there is an **order or rank** among the variable's observations.

* When numeric codes are used, there is no measurable meaning to the number differences. For instance, variables could be eduation level, from elementary to doctorate level of education. Here the levels can be ranked.

### Interval Scale

* Interval scales are numeric scales in which data exhibits the properties of ordinal scale and the differences between the values is meaningful and specified on a fixed unit of measure. For instance, SATs test scores are interval data which can be ranked. 

* Interval scale has no true zero point, which means that zero does not mean the of value but simply indicates another value on the scale. 

### Ratio Scale

* Ratio scale exhibits all the properties of interval data and the ration of any two values is meaningful. This scale also has a true zero point, that is, when the variable equals 0.0-, there is none of that variable. 
* Other examples of variables which used teh ration scale of measurement are weight, height and time.

### Types of Data

* Data can be classified as either categorical or numerical
* Categorical data (also known as Qualitative data) uses names or labels to identify the characteristics of an individual
* categorical data uses either the nominal or ordinal scales of measurement and maybe non-numeric or numeric in nature. 

* Numerical data (also known as quantitative data) have numeric values which indicate how much or how many of a quantity
* Numeric data use either the interval or ratio scales of measurement

### Categorical variables

* Refers to a variable with categorical data such as ethnicity, types of cars, marital status, etc.

### Quantitative variables
* Refers to a variable with numeric values. For instance, height, weight, number/count of an item, temperature, etc.
* Quantitative variables can be discrete or continuous

### Statistical Analysis Suitable for Categorical Variables

* For categorical variable, data maybe summarized by counting the number of observations in each category or by evaluating the proportion of the observations in each category

* The might be cases where numerical data is used for categorical data and arithmetic operations provide no meaningful results. 

### Statistical Analysis Suitable for Quantitative Variables
* Arithmetic operations provide meaningful results for quantitative variables. For example-- for a variable age we can compute the average by adding all the obeservations and dividing by the number of observations.
* The average value usually provides meaningful information about the variable and it is easy to interpret. 

### Frequency Distribution

* Frequency distribution is a way of summarizing data in a table which shows the possible categories or classes as well as the corresponding number of observations/frequency in each category
* The category or classes in a frequency distribution are nonoverlapping
* Frequency distribution can be used to summarize both quantitative and qualitative data.

### Measures of Location
*  Percentiles
   *  The *pth* percentile is a value which divides the data into two parts such that at least *p* percent of the observations are less than or equal to this value and at least $(100 - p)$ percent of the obeservations are greater than or equal to this value. In the equation *p* denotes the percentile of interest and *n* denotes the number of observations. If the result of the calculation is not an integer then we must round up to obtain the position of the *pth* percentile. If the result of the calcualtion is an integer then the percentile is the average of the corresponding value and its next value in the data.

   *  For instance, for the following data (10, 20, 25, 15, 11, 13, 16, 8, 9, 8, 7, 6)-- the *pth* (75th) percentile is calculated this way:
      1. Sort data in ascending order: (6, 7, 8, 8, 9, 10, 11, 13, 15, 16, 20, 25)

      2. Compute the position of the *pth* percentile by doing: $\frac{p}{100} * n$. We have 12 data points so $n=12$

           $(\frac{75}{100}) * 12 = 9$
           
        So the 75th percentile is the average of the 9th and 10th elements in the data. 
        $(15 + 16)/2 = 15.5$
        Now calculate the 60th percentile:

        $(\frac{60}{100})*12 = 7.2$

        Hence the 60th percentile is the 8th observation which is 13.



   
*  Quartiles
   *  Divide the ranked data into four parts with each part containing approximately 25%of the data.
   *  The lower, firt, quartile *Q1* is also the *25th* percentile
   *  The second quartile *Q2* is also the *50th* percentile. It is the median.
   *  The upper quartile *Q3* is also the 75th percentile. 



### Measures of Variation

*  Range
  * The simplest measure of variability.
  * It is defined as the difference between the largets and the smallest value in a dataset.  

*  Interquantile Range (IQR)
  * IQR is the measure of spread which can helps us eliminate outliers.
  * It calculates the range of the middle 50% of the data. 
  $IQR = Q3 - Q1$

* Variance
  * The *variance* is the average of the squared deviations of values from the mean.
  * Variance is denoted by $\sigma^2$ for the entire population and $s^2$ for the sample. 

* Standard Deviation
  * The standard deviation is the most commonly used measure of spread.
  * This is because it is expressed in the same unit as the original data whereas the variance is in squared units. 
  * It is equal to the positive square root of the variance and is denoted by $\sigma$for the population and $s$ for the sample.
  * The standard deviation shows variation around the mean.

* Coefficient of Variation
  * The coefficient of variation (CV) measures how large the standard deviation is in relation to the mean.
  * It is usually given as a percentage and is defined as: 
  
  $CV = (\frac{s}{x} * 100)\%$

  * It is a dimeansionless number, that is, it is independent of the unit of measurement.
  * It also shows the extent of variability in relation to the mean of the population.
  * For instance, in finance -- investors calculate how miuch risk (i.e volatility) they can assume in comparison to the amount of return they expect from investments.
  * The risk-return trade-off: the lower the CV value the better.

In [1]:
import pandas as pd

In [2]:
bulbs = pd.DataFrame([2090, 1900, 2010, 1890, 2010, 1968, 70, 2200, 2012, 1960])

In [3]:
bulbs.describe()

                 0
count    10.000000
mean   1811.000000
std     618.318329
min      70.000000
25%    1915.000000
50%    1989.000000
75%    2011.500000
max    2200.000000

In [4]:
nums = pd.DataFrame([20,7,2,30,5,24,7,50])
nums.describe()

               0
count   8.000000
mean   18.125000
std    16.365796
min     2.000000
25%     6.500000
50%    13.500000
75%    25.500000
max    50.000000

In [5]:
nums.quantile([.25, .75])

         0
0.25   6.5
0.75  25.5

In [6]:
nums_1 = pd.DataFrame([12, 16, 20, 25, 26, 28, 33, 35, 36, 41, 44, 49, 53, 56, 61, 63, 67, 70, 75, 77])
nums_1.describe()

               0
count  20.000000
mean   44.350000
std    20.199726
min    12.000000
25%    27.500000
50%    42.500000
75%    61.500000
max    77.000000

In [7]:
nums_1.quantile([.10, .25, .33, .50, .75, .90])

          0
0.10  19.60
0.25  27.50
0.33  33.54
0.50  42.50
0.75  61.50
0.90  70.50

In [9]:
num_2 = pd.DataFrame([23, 21, 16, 22])
num_2.describe()

               0
count   4.000000
mean   20.500000
std     3.109126
min    16.000000
25%    19.750000
50%    21.500000
75%    22.250000
max    23.000000

In [10]:
# calculate the variance
num_2.var()

0    9.666667
dtype: float64

## Topic 2 -- Data Preprocessing, Correlation, and Probability Overview

### Missing Values and data type transformations

### Missing Values

* It is important to be familiar with the concept of missing values
* This is a common probeln in Data Science and Machine Learning
* It refers to the problem of having blank entries in the dataset which can be due to multiple reasons
* It is important to deal with appropriately

**Why is it a problem?**

* It adds ambiguity to the analysis
* Missing values would make it impossible to accurately caculate descriptive statistics
* Hence the observation that contains missing values can be problematic
* It can happen in anyb data type (numeric, categorical, etc.)

**How do we deal with it?**

* The way to deal with it, or handle, missing values depends on several factors (such as the probelm domain, the percentage of missing data and others)
* There is no magic nor one single approach/solution to this problem
* One common method is to drop columns or rows that contain the missing values or, sometimes, if the column has a large fraction of its data missing
* In some instances, droping columns or rows with missing values is not a viable solution so instead we can replace missing data with some value(s)
* This technique is known as missing value **imputation**

**Missing Values Imputation**

* This is an important field in statistics
* One methid is to replace the missing values with a fixed value
   *  For example, sometimes people use 0 or any other number if the column is numeric
   * It is common to replace missing values in an numeric column with the mean or median of existing values in that column
   * If the column is categorical the mode of existing entires is used
* Another method is to make educated guesses about the values of missing data using machine/statistical learning models
* Also there are existing methods, specifically designed for analyzing data with missing values.

### Data type tranformation

* It is common in Data Science and Machine Learning to transform data from one type to another. For example:
   * Categorical to numeric
   * Numeric to category
* A typical situation is when we'd like to use a modeling technique that can only deal with numeric data to model or anlyze categorical data (e.g. artificial neural networks)
* This is known as *encoding*
* A common technique is *binary encoding* or *one-hot-encoding* which is done like this:
   1. If the categorical variable has *n* categories then create *n* new binary columns in the data
   2. For each row, we set all values in those columns to 0 except the colukn that represents the categorical value in that row -- we set it to 1.
   3. It is possible to create *n-1* instead of *n* columns (because one categorical value can be assumed when all values in the *n-1* columns for the row are 0)

* Numerical to categorical transformation is known as *binning* or *discretization*
* It tranforms numerica data into bins or intervals
* There are multiple wats of data binning:
   1. Supervised: by involving the class or target column. An example of this is the entropy-based binning.
   2. Unsupervised: by not involving the class or target column. Two examples are equal width binning and equal frequency binning. 
   $w = \frac{max - min}{n}$

### Correlation, Covariance, Heatmaps and Scatter Plots

### Correlation

* Quantifies the strenght of a relationship between two numeric variables
* Usually we are interested in the linear correlation between two numeric variables
* Variables **X** and **Y** (each with measured data) are said to be positively correlated if high values of **X** got with high values of **Y** and low values of **X** go with low values of **Y**
* If high values of **X** go with low values of **Y** and vice versa, then the variables are negatively correlated

### Key terms for correlation
**Correlation coefficient** -- a metric that measures the extent to which numeric variables are associated with one or another. The correlation coefficient always lies between +1 (perfect positice correlation) and -1 (perfect negative correlation). However, variables can have a non-linear relationship, in which case the correlation coefficient may not be a useful metric. 

**Correlation matrix** -- a table where the variables are shown on both rows and columns and the cell vallues are the correlations between the variables

**Scatterplot** -- a plot in which the x-axis is the value of one variable and the y-axis is the value of another. Using a scatter plot it is possible to determine if the two variables are correlated

**Variance and Covariance**

* The variance of a variable is the average of the square deviations of values from the mean. 

* Covariance is a measure of the extent to which one variable varies in concert with another (i.e., similar magnitude and direction)

### Probability Overview

**What is probability?**

* Probability may be viewed as the numerical measure of likelihood or chance that an event will occur
* We are interested in defining what is meant by the probability of an event *A*, that is, the likelihood of *A* occuring denoted by $P(A)$
* A natural question to ask is: *what values can probability take or how do we measure probability?*

**Probability Scale**

* Probability values are assigned on a scle from 0 to 1
* A probability value neat 0 indicates an event is unlikely to occur also known as an **impossible event**
* A probability of 0.5 indicates and event is as likely as it unlikely to occur
* A probability close to 1 indicates an event is very likely to occur also known as a **certain event**

**Assigning Probabilities**

* We wish to look at how probabilities can be assigned to experimental outcomes
* There are two approaches: the *classical approach* and the *relative frequency approach*
* Regardless of the approach used, there are two basic requirements for assigning probabilities
  1. Let $Bi$ denote the *ith* experimental outcome and $P(Bi)$ its probability
  2. The sum of all probabilities of all experimental outcomes is equal to 1. 

**The Classical Approach**

* This method is appropriate for assigning probabilities when there are finite number of experimental outcomes, each of which are equally likely
* If there are *n* possible outcomes then a probability of *1/n* is assigned to each experimental outcome
* Note that the two basic requirements for assigning probabilities are automatically satisfied using this approach.
An exaple of this approach is rolling a six-sided die. There are six possible outcomes: 

$S= {1, 2, 3, 4, 5, 6}$

$P(1) = P(2) = P(3) = P(4) = P(5) = P(6) = 1/6$


**The Relative Frequency Approach**

* This approach is appropriate when data are available to estimate the proportion of time the experimental outcome will occur if we repeat the experiment a large number of times
* It is often used to determine probabilities for a particular population
* The relative frequncy probability is the limit of the proportion of times event *A* occurs in a large number of *n* trials. It is given by:

$$P(A) = \frac{n_A}{n} $$

where $n_A$ denotes the number of outcomes for *A* and *n* denotes the total number of trials.

### Probability Axioms

* A probability space consists of a sample space *S* together with a probability function *P* which takes an event *A $\subseteq$ S* and returns $P(A)$ a number between 0 and 1.
* The function must satisfy the following axioms:

$P(A) \geq 0$

$P(S) = 1$

$P(A_1 \cup A_2 ... A_k) = P(A_1) + P(A_2) +...+ P(A_k) where A_i \cap A_j = 0 \; for \; i  \neq j $

***Addition Rule***

* Let *A* and *B* be two events. Then the probability that either of them will occur is:

$P(A \cup B) = P(A) + P(B) - P(A \cap B)$

* Read as $P(A \; or \; B) = P(A) + P(B) - P(A \; and \; B)$

* If we know that the two events are *mutually exclusive* (i.e. they cannot occur at the same time) then:

$P(A \cup B) = P(A) + P(B)$

**Example**

* If a single card is randomly picked from a regular pack of cards, what is the probability that the card is either a jack or a diamond?
* Let *A* be the event of picking a jack and *B* the event of picking a diamond. There are only 4 jacks in the pack and there are 13 diamonds.

* $P(A) = 4/52 \;\;\;\;\;\;\; P(B) = 13/52$ 

* Are the two events mutually exclusive? **NO**

**SOLUTION**

$P(A or B) = (4/52) + (13/52) - (1/52) = 16/52 = 4/13$